@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Esta clase es sólo para referencia de colores */
.colores {
    color: #07020D;
    color: #F1E9DB;
    color: #5DB7DE;
    color: #A39B8B;
    color: #716A5C;
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    color: #F1E9DB;
    background-color: #07020D;

    margin: 0;
}

h1 {
    text-align: center;
}

/* Contenedor */
/* Flexbox es un valor de la propiedad display. Flex se aplica sobre el contenedor padre. */
.contenedor {
    margin: 16px;
    padding: 16px;
    border: 3px solid #5DB7DE;

    display: flex; /* aplica flex a los elementos del contenedor */
    justify-content: center; /* justificado sobre el eje principal */

    align-items: stretch; /* alineación sobre el eje secundario */

    height: 750px;
}

/* Items */
.item {
    margin: 16px;
    padding: 16px;
    border: 3px solid #5DB7DE;
    
    width: 200px;
}

.flex {
    display: flex;
    padding: 0;
    list-style: none; /* estilo de la lista */
    gap: 16px; /* separa los elementos dentro de un contenedor flexible */
}

